<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="{$basePath}/css/style.css" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" n:href="Homepage:">Logo</a>
		<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a n:href="Homepage:" class="nav-link active" aria-current="page"
					>Články</a
					>
				</li>
				<li class="nav-item">
					<a n:href="Contact:" class="nav-link" aria-current="page"
					>Kontakt</a
					>
				</li>
				{if $user->isLoggedIn()}
					<li class="nav-item">
						<a class="nav-link" n:href="Sign:out">Odhlásit</a>
					</li>
				{else}
					<li class="nav-item">
						<a class="nav-link" n:href="Sign:in">Přihlásit</a>
					</li>
				{/if}
			</ul>
		</div>
	</div>
</nav>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
	{$flash->message}
</div>

{include content}
    <footer class="py-4 text-center container-fluid">
		<p>
			&copy;2022,
			<a class="text-pink" href="https://www.slavkavav.cz/" target="_blank"
			>Slavka.Vav</a
			>
		</p>
    </footer>
    {block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"
></script>
</body>
</html>
