{block content}

        <div class="container-fluid">


            <h1 n:block="title" class="text-pink text-center display-1 p-3 bg-blur">Můj blog</h1>

    {foreach $posts as $post}
        <div class="post bg-light m-5 p-0 rounded text-center border-pink">
            <div class="date bg-white m-0 pt-3 rounded">{$post->created_at|date:'F j, Y'}</div>
            <h2 class="bg-white m-0 pb-3"><a class="text-pink" n:href="Post:show $post->id">{$post->title}</a></h2>
                        <div class="p-3">{$post->content|truncate:256}</div>
        </div>
    {/foreach}
            </div>

    <a n:href="Edit:create" n:if="$user->isLoggedIn()">Vytvořit příspěvek</a>
<div/>
{/block}
