{block content}

<p><a n:href="Homepage:default">← zpět na výpis příspěvků</a></p>

<div class="date">{$post->created_at|date:'F j, Y'}</div>

<h1 n:block="title">{$post->title}</h1>

<div class="post">{$post->content}</div>

<a n:href="Edit:edit" n:if="$user->isLoggedIn() ">Upravit příspěvek</a>


<h2>Vložte nový příspěvek</h2>

{control commentForm}


<h2>Komentáře</h2>

<div class="comments">
    {foreach $comments as $comment}
        <p><b><a href="mailto:{$comment->email}" n:tag-if="$comment->email">
                    {$comment->name}
                </a></b> napsal:</p>

        <div>{$comment->content}</div>
    {/foreach}
</div>
